body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    background-size: cover;
    text-align:center;
    font-family: 'Roboto Mono', monospace;

}
h1{
    color:#fff;
    text-transform: capitalize;
    padding-top:100px;
    margin:0;
}
h2{
    display: inline-block;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.397);
    width:40%;
    border-radius:40px;
    padding:10px;
}
.dateBox{
    width:40%;
    height:200px;
    margin:200px auto;
    background-color:rgba(0, 0, 0, 0.281);
    border-radius:40px;
    line-height: 100px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 60px;
    color:#fff;
}
p{
    position: absolute;
    bottom:10px;
    color:#fff;
    left:0;
    right:0;
}
/*--tablet responsive--*/
@media(min-width: 700px) and (max-width: 1024px){
    body{
        background-position-x: 50%;
        
    }
    .dateBox{
        font-size:40px;
    }
    
}
/*--mobile responsive--*/
@media(max-width: 650px){
    body{
        background-position-x: 70%;
        
    }
    .dateBox{
        line-height:50px;
        margin:100px auto;
        height:auto;
        padding:10px;
        font-size:20px;
    }
    h1{
        font-size:25px;
    }
    h2{
        
        font-size:20px;
    }
    p{
        font-size:10px;
    }
}